// VARIABLES
$yellow: #ffff00;
$red: #ff0000;
$blue: #0033ff;
$text-blue: #215c83;

// HELPER CLASSES
.red{color: $red;}
.yellow{color: $yellow;}
.white{color: #fff;}
.text-blue{color: $text-blue;}
.text-center{text-align: center;}
.float-center{
	min-width: auto;
}
.blue-link-fix a{
	color: #fff !important;
}

// EVERYTHING ELSE
td, a, p{
	font-family: Arial, sans-serif;
}

td {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: Georgia, serif;
	font-weight: bold;
}

.top-bar{
	background: $blue;

	p{
		margin-bottom: 0;
		font-size: 10px;
	}
}

.header{

	h1{
		font-size: 24px;
		margin-bottom: 0;
	}

	h2{
		font-size: 36px;
		margin-bottom: 0;
	}

	.pacman-bg{
		background: $blue url(https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/428a9429-dc7d-48fe-a0c0-2ac1986dd4e1.png) no-repeat center center;
		height: 330px;
	}

	.overlay-text-pad-left{
		padding-left: 20px;
	}

	.overlay-text{
		display: inline-block;
		background: $blue;
		padding: 10px 25px;
	}
}

.body-copy{
	h3{
		font-size: 20px;
		// padding: 0 70px;
		margin-bottom: 0;
	}

	p{
		// padding: 0 60px;
	}
}

.pacman{
	img{
		margin: 0 auto;
	}
	p{
		text-transform: uppercase;
		font-size: 12px;
		color: $text-blue;
		font-weight: bold;
	}
}

.ghost-list{
	text-transform: uppercase;
	margin: 0 auto;

	a{
		color: #000;
		font-weight: bold;
		font-size: 12px;
	}

	td:nth-child(1){
		padding-right: 15px;
	}
	td:nth-child(3){
		padding-left: 15px;
	}
}

.body-bottom{

	td:nth-child(1){
		padding-right: 15px;
	}

	.pellets{
		font-size: 14px;
		font-weight: bold;
	}

	.pellets-percent{
		font-size: 56px;
		font-weight: bold;
		color: $blue;
		font-family: Georgia, sans-serif;
		line-height: normal;
	}

}

.red-btn{
	td td{
		padding: 8px 15px;
		background: $red;	
	}

	a{
		font-size: 14px; 
		font-weight: bold; 
		color: #ffffff; 
		text-decoration: none; 
		display: inline-block;
	}

}

hr{
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #d3dee6;
    padding: 0; 
	margin: 20px auto;
	width: 560px;
}

.footer{
	background: $blue;

	p{
		font-size: 9px;
		color: #fff;
	}

	a{
		color: #fff;
		text-decoration: underline;
		margin-right: 10px;
	}

	.pacman-footer-wrapper td{
		vertical-align: middle;

		a{
			display: inline-block;
			margin-right: 0;
		}

		&:nth-child(1){
			padding-right: 20px;
		}
	}
}