---
layout: default
subject: eROI Pacman Email
---

<spacer size="20"></spacer>

<container>
  
  <!-- TOP BAR -->
  <table class="top-bar" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td align="left" valign="middle" height="50" width="40%" style="vertical-align: middle; padding-left: 25px;">
		<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/e2a393dd-a0d0-4db5-8f38-630d6c0d7525.png" alt="Ms. Pac-man Logo">
	  </td>
	<td align="center" valign="top" height="50" width="20%">
		<center style="min-width: auto;">
			<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/752abbc5-4ded-41c1-bbad-a4a70c8e1241.png" alt="Pacman">
		<center>
	</td>
	  <td align="right" valign="middle" height="50" width="40%" style="vertical-align: middle; padding-right: 10px;">
		<p class="text-right white">Some copy about a popular video game and a job.<p>
		<p class="text-right"><a class="yellow" href="#">Play Today ►</a></p>
	  </td>
	</tr>
  </table>

  <!-- HEADER -->
  <table class="header" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td class="pacman-bg" align="center" valign="top">
		
		<center style="min-width: auto;">
			<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/1573e8c1-a050-451b-878f-4d3ed8540493.png" alt="Pacman">
		</center>

		<spacer size="135"></spacer>

		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td class="overlay-text-pad-left" align="center" valign="top">
					<div class="overlay-text">
					  <h1 class="white">Make a fake email</h1>
					  <h2 class="yellow">About Ms. Pacman</h2>
					</div>
				</td>
			</tr>
		</table>
	  </td>
	</tr>
  </table>

  <!-- BODY COPY-->
  <table class="body-copy" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td align="center" valign="top" width="100%">

		<spacer size="20"></spacer>

		<table width="480" align="center" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>
					<h3 class="red text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eisusmod tempor</h3>
				</td>
			</tr>
		</table>

		<spacer size="20"></spacer>

		<table width="520" align="center" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur <a class="text-blue" href="#"><strong>sint occaecat cupidatat</strong></a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>
						<a class="red" href="#"><strong>Play today &gt;</strong></a>
					</p>
				</td>
			</tr>
		</table>

	  </td>
	</tr>
  </table>

	<spacer size="20"></spacer>

	<!-- PACMAN -->
	<table class="pacman" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td align="left" valign="top" width="30%">
		<center style="min-width: auto;">
	  		<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/63a8a0bb-0018-4db1-ade9-d4ca7b33320c.png" alt="Clyde">
	  	</center>
		<spacer size="15"></spacer>
		<p class="text-center">Clyde</p>
	  </td>

	  <td align="center" valign="top" width="30%">
	  	<center style="min-width: auto;">
	  		<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/a1618cad-4fa7-4d6b-a3f9-65ae2f003f55.png" alt="Speedy">
	  	</center>
		<spacer size="15"></spacer>
		<p class="text-center">Speedy</p>
	  </td>

	  <td align="right" valign="top" width="30%">
		<center style="min-width: auto;">	  	
	  		<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/d19d9a9f-494d-4c31-b476-8d196a366f3c.png" alt="Blinky">
	  	</center>
		<spacer size="15"></spacer>
		<p class="text-center">Blinky</p>
	  </td>

	</tr>
	</table>

	<spacer size="25"></spacer>

	<!-- GHOST LIST BUTTON -->
	<table class="ghost-list" align="center" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="top"><img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/ff511939-76c9-45e6-8c7a-40df7baa63b9.png" alt="Sounds Waves"></td>
			<td valign="top"><a href="#">View the full GHOST list</a></td>
			<td valign="top"><img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/3c3d315e-8ae8-4c86-a912-f80ed374e438.png" alt="Sounds Waves"></td>
		</tr>
	</table>

	<spacer size="30"></spacer>
	
	<hr>

 <table class="body-bottom" align="center" width="400" border="0" cellspacing="0" cellpadding="0">
 	<tr>
 		<td>
 			<div class="pellets">PELLETS LEFT</div>
 			<div class="pellets-percent">50%</div>
 		</td>
 		<td><span class="red"><strong>Some random copy</strong></span> to fill up the space next to the blue number. We could say more about it but really, there isn’t much more to be said. </td>
 	</tr>
 </table>

<spacer size="20"></spacer>

<table class="red-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center"><a href="#">A CTA GOING SOMEWHERE ►</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="30"></spacer>

  <!-- FOOTER -->

	<table class="footer" width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="left" valign="middle" height="140" style="vertical-align: middle; padding-left: 25px;">
				<p>
					<font color="ffffff"><strong>eROI</strong><br>
					505 NW Couch, Suite 300<br>
						Portland, OR 97209<br>
						(503) 221-6200</font>
				</p>

				<p>
					<a href="#">Unsubscribe</a> <a href="#">Send to a friend</a>
				</p>
			</td>

			<td align="left" valign="middle" height="140" style="vertical-align: middle; padding-right: 25px;">

				<table class="pacman-footer-wrapper" align="right" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td height="140" valign="middle">
							<img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/4731b94e-5189-4c66-ac11-d0c6d80593b0.png" alt="Pacman Graphic">
						</td>
						<td height="140" valign="middle">
							<a href="#"><img src="https://gallery.mailchimp.com/ef5512649a3d863b0af1885b7/images/8f385c20-02b6-4d02-bb27-6d80abadd713.png" alt="Social Icons"></a>						
						</td>
					</tr>
				</table>
				
			</td>
		</tr>
	</table>

</container>

<spacer size="25"></spacer>

